body {
    background-image: url(/images/backLogo.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.navbar {
    background-color: rgb(223,181,45);
}

#nav a {
    color:rgb(69,135,111);
}
  /* NAVBAR MENU */
  
#nav li:hover, #nav-item:hover {
    background-color: rgb(219, 190, 97);
    border-radius: 5px;
    transition: 0.3s ease;
}
  
  /* DROPDOWN MENU */
  .dropdown {
    background-color: rgb(223,181,45);
  }
  
  .dropdown li:hover {
    background-color:rgb(219, 190, 97);
  }
